/* ======================================================================================
For large screen
====================================================================================== */




@media (min-width: 1440px) {


    tr.chart-data {
        margin-left: 44px;
    }

}

@media (max-width: 1439px) {

}




















/* ======================================================================================
For medium screen 
====================================================================================== */




@media (max-width: 1200px) {

}


















/* ======================================================================================
For Tab 
====================================================================================== */










@media (max-width: 768px) {
    td.t-head-design tbody {
    width: 227px;
}

tbody.table-top.d-flex {
    width: 1143px;
}



.container {
    max-width: 740px;
    overflow: auto;
}



tr.hd-head th {
    padding: 10px 20px;
}


}














/* ======================================================================================
For Small Devices 
====================================================================================== */







@media (min-width: 576px) {

}

